---
interface Props {
  src: string;
  name: string;
}

const { src, name } = Astro.props;
---

<div class="atropos my-atropos" class:list={name}>
  <!-- scale container (required) -->
  <div class="atropos-scale">
    <!-- rotate container (required) -->
    <div class="atropos-rotate">
      <!-- inner container (required) -->
      <div class="atropos-inner">
        <astro-greet data-class={name}>
          <div class="card__container">
            <img
              src={src}
              alt={name}
              class={name}
              data-atropos-offset="2"
              width="50"
            />
            <h2>{name}</h2>
          </div>
        </astro-greet>
      </div>
    </div>
  </div>
</div>

<style>
  .my-atropos {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;

    .atropos-inner {
      border-radius: 8px;
      background-color: rgba(62, 62, 62, 0.4);

      .card__container {
        color: var(--color-text);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        position: relative;

        h2 {
          position: absolute;
          bottom: 0.5rem;
          opacity: 0;
          transition: all 0.3s ease-in-out;
        }

        img {
          width: 120px;
          height: auto;
          object-fit: contain;
          transition: all 0.3s ease-in-out;
          aspect-ratio: 4 / 6;
        }

        .text__container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;
          font-size: 0.8rem;

          .name {
          }
        }

        &:hover {
          img {
            scale: 1.05;
          }

          h2 {
            opacity: 1;
          }
        }
      }
    }
  }

  .onEnter {
    scale: 1.1;
  }
</style>

<script>
  import Atropos from "atropos";

  class AstroGreet extends HTMLElement {
    constructor() {
      super();

      document.addEventListener("astro:page-load", () => {
        const myAtropos = Atropos({
          el: `.${this.dataset.class}`,
          shadow: true,
          highlight: true,
        });
      });
    }
  }

  customElements.define("astro-greet", AstroGreet);
</script>
